<ion-view title="Keluhan">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="disease">
                <span class="input-label">Keluhan</span>
                <input type="text" placeholder="Contoh : Flu, Demam">
            </label>
            <label class="item item-input">
                <span class="input-label">Tanggal Pemeriksaan</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <div class="button-bar"></div>
        <form class="list">
            <ion-radio>Alamat Di KTP</ion-radio>
            <ion-radio>Lokasi Sekarang</ion-radio>
        </form>
        <button class="button button-positive button-block ">Kirim Keluhan</button>
    </ion-content>
</ion-view>