<ion-view title="Konfirmasi Pendaftaran">
    <ion-content padding="true" class="has-header">
        <ion-list></ion-list>
        <div>
            <p>Silakan cek data diri anda di bawah ini.</p>
            <p>Apabila sudah benar silakan tekan tombol "Lanjutkan".</p>
            <p>Apabila ini bukan data diri anda, silakan tekan tombol "Kembali" dan cek ulang no BPJS anda.</p>
        </div>
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <form class="list"></form>
        <div>
            <label>Nama Lengkap:</label>
            <span>Mochamad Fazar</span>
        </div>
        <div>
            <label>Alamat:</label>
            <span>Jl. Melong Kidul No 17/36D RT 04/05 Kel. Cikawao, Kec. Lengkong Kota Bandung Provinsi Jawa Barat.</span>
        </div>
        <form class="list"></form>
        <form class="list">
            <label class="item item-input" name="identity_number">
                <span class="input-label">KTP</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button class="button button-positive button-block ">Lanjutkan</button>
        <button class="button button-assertive button-block ">Kembali</button>
    </ion-content>
</ion-view>