<ion-view title="Konfirmasi Pendaftaran">
    <ion-content padding="true" class="has-header">
        <ion-list></ion-list>
        <div>
            <p>Silakan cek data diri anda di bawah ini.</p>
            <p>Apabila sudah benar silakan tekan tombol "Lanjutkan".</p>
            <p>Apabila ini bukan data diri anda, silakan tekan tombol "Kembali" dan cek ulang no BPJS anda.</p>
        </div>
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <form class="list"></form>
        <div>
            <label>Nama Lengkap:</label>
            <span>{{userProfile.fullname}}</span>
        </div>
        <div>
            <label>Alamat:</label>
            <span>{{userAddress.location}}, {{userAddress.village}}, {{userAddress.subdistrict}},
                {{userAddress.regency}} {{userAddress.province}}</span>
        </div>
        <form class="list"></form>
        <form class="list">
            <label class="item item-input" name="identity_number">
                <span class="input-label">3 Digit No KTP</span>
                <input type="text" placeholder="" ng-model="model.identity_number_end">
            </label>
        </form>
        <button class="button button-positive button-block " ng-click="next()">Lanjutkan</button>
        <button class="button button-assertive button-block ">Kembali</button>
    </ion-content>
</ion-view>